@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

img {
    pointer-events: none;
}

.post {
	margin: 0.5rem;
	width: 32vw;
	display: flex;
	height: fit-content;
	flex-direction: column;
}

.post-image {
	display: block;
	height: 34vh;
	min-width: 40%;
}	

.post .btn {
	font-size: 1.5rem;
}

.card-body {
	display: flex;
	flex: 1;
	flex-direction: column;
}

.text-body-secondary {
	flex: 1;
	overflow: hidden;
}

.post-ratings-container {
	display: flex;
	justify-content: end;
	padding: 12px 0;
}

.post-rating {
	display: flex;
	align-items: center;
	cursor: default;
}

.post-rating:not(:last-child) {
	margin-right: 12px;
}

.post-rating-selected>.post-rating-button,
.post-rating-selected>.post-rating-count {
	color: #009578;
}

.post-rating-button {
	margin-right: 6px;
	cursor: pointer;
	color: #555555;
}

.post-rating:not(.post-rating-selected)>.post-rating-button:hover {
	color: #000000;
}

.btn {
	color: white;
}

.navbar-brand {
	font-size: 2.25rem;
	font-family: "Dancing Script", cursive;
	font-weight: 600;
	user-select: none;
}

.about-site {
	margin: 1rem;
	vertical-align: middle;
}

.about-site h2 {
	display: inline;
	color: rgb(255, 255, 255);
}

.about-site h3 {
	display: inline;
	color: rgb(202, 202, 202);
}

.about-site p {
	font-size: 1.25rem;
}

.about-site a {
	text-decoration: none;
	color: gray;
}

.about-site .card {
	width: 50vw;
}

.card-title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.view-page-heading {
	margin: .5rem; 
	padding: .75rem; 
	width: fit-content;
	background-color: gray;
	color: rgb(23, 26, 39);
	border-radius: .5rem;
	user-select: none;
}

.link-floating-button {
	font-size: 2rem;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
}